<div class="container mt-4">

  <div class="d-flex justify-content-between mb-3">
    <h2>Companies</h2>
    <button class="btn btn-primary" (click)="openCreate()">
      + Nueva Compañía
    </button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Giro</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Activo</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of companies">
        <td>{{ c.name }}</td>
        <td>{{ c.giro }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.phone }}</td>
        <td>{{ c.isActive }}</td>
        <td>
          <button class="btn btn-warning btn-sm me-2"
                  (click)="openEdit(c)">
            Editar
          </button>

          <button class="btn btn-danger btn-sm"
                  (click)="delete(c.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<!-- MODAL -->
<div class="modal fade show d-block" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          {{ isEditMode ? 'Editar Compañía' : 'Nueva Compañía' }}
        </h5>
        <button class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">

        <input class="form-control mb-2" [(ngModel)]="form.name" placeholder="Nombre">
        <input class="form-control mb-2" [(ngModel)]="form.giro" placeholder="Giro">
        <input class="form-control mb-2" [(ngModel)]="form.email" placeholder="Email">
        <input class="form-control mb-2" [(ngModel)]="form.phone" placeholder="Teléfono">
        <input class="form-control mb-2" [(ngModel)]="form.address" placeholder="Dirección">

        <div class="form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="form.isActive">
          <label class="form-check-label">Activo</label>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button class="btn btn-primary" (click)="save()">
          {{ isEditMode ? 'Actualizar' : 'Guardar' }}
        </button>
      </div>

    </div>
  </div>
</div>

<div class="modal-backdrop fade show" *ngIf="showModal"></div>