
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <!--  App Topstrip -->
    <app-main-header></app-main-header>

    <app-sidebar></app-sidebar>

    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      
      <app-body-header></app-body-header>

      <!--  Header End -->
      <div class="body-wrapper-inner">
        <div class="container-fluid">
          <!--  Row 1 -->

          <router-outlet></router-outlet>

          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>